:root {
  --color-primary: #3E4146;
  --color-secondary: #6B705C;
  --color-accent: #C9A227;
  --color-background: #383d41;
  --color-background-alt: #b0b4b8;
  --color-text: #444;
  --color-hover: #d4ae30;
}