* {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.inter-font {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: var(--color-background);
  font-family: "Inter", serif;
}

h1, h2, h3, h4, h5, h6, small, p, li, a {
  color: var(--color-text);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

h6 {
  font-size: 0.875rem;
}

p,
li {
  font-size: 1rem;
  font-weight: 200;
}

a {
  text-decoration: none;
}

small {
  font-size: 0.75rem;
}

hr {
  margin: 0.5rem 0;
  width: 2rem;
}

.section-bottom-margin {
  margin: 15rem 0;
}

img {
  display: block;
}

/* .wrapper-width-md {
  @media (min-width: map-get($breakpoints, "lg")) {
    max-width: map-get($breakpoints, "md");
  }
}

.wrapper-width-xl {
  @media (min-width: map-get($breakpoints, "xxl")) {
    max-width: map-get($breakpoints, "xl");
  }
} */
