.directory > .directory-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-left: 4px solid var(--color-accent);
}

.directory .directory-listing {
  max-width: 250px;
  min-width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.directory .directory-listing:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.directory > .directory-body > .directory-letter-section .directory-letter-header {
  font-weight: 600;
  color: #fff;
  margin: 0 0.5rem;
  align-self: center;
  margin: 1rem 0;
}

.directory > .directory-body > .directory-letter-section .directory-letter-listings {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  transition: background-color 0.3s ease;
}

.directory > .directory-body > .directory-letter-section .directory-listing {
  background-color: #fff;
  cursor: pointer;
  padding: 2rem 1rem;
  border-radius: 4px;
  min-width: 200px;
}

.directory > .directory-body > .directory-listing .listing-image-container, .listing-image-placeholder {
  width: 100%;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: var(--color-background-alt);
  border: var(--color-accent) solid 2px;
  border-radius: 4px;
}

.directory > .directory-body > .directory-listing .listing-image-container > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.directory-letter-section .directory-listing .listing-name {
  font-weight: 800;
}

.directory-letter-section .directory-listing .listing-subtext {
  font-weight: 400;
  font-size: 0.8rem;
  padding-bottom: 2rem;
}

.directory-letter-section .directory-listing .listing-description {
  padding-bottom: 2rem;
}

.directory-letter-section .directory-listing .listing-link {
  font-weight: 600;
  color: var(--color-accent);
}

@media (max-width: 576px) {
  .directory .directory-body .directory-letter-listings{
    justify-content: center;
  }
}