.letters-nav-container {
  display: flex;
  width: 100%;
  gap: 5px;
  flex-wrap: wrap;
  margin: 1rem 0;
  color: #fff;
  justify-content: center;
  text-decoration: underline;
}

.letters-nav-container > .letter-link {
  font-size: 1.1rem;
  color: #fff;
}

.letters-nav-container > .letter-link:hover {
  color: var(--color-hover);
  transition: background-color 0.3s, color 0.3s;
}
